.titulo{
  font-weight: bold;
}

.backtab{
  /* background: linear-gradient( 36deg,#3d3d3d 40%, #ccccff)!important; */
  background: none!important;
  color: #0d65b8!important;
  font-weight: bold!important;
  font-display: 40!important;
  /* opacity:inherit!important; */
}

.tabtext{
  color:#6614c5!important;
  font-weight: bold!important;
  font:500!important
}


/* .about2{
  background: linear-gradient( 36deg,#595959 8%, #ccccff)!important;
} */