.footer{
  /* background: linear-gradient( 36deg,#3d3d3d 40%, #ccccff); */
  /* height: 80px */

  background-image: url("https://i.imgur.com/IefaXIc.jpg[/img]");
  background-repeat: no-repeat;
  width: 100vw;
  min-height: calc(100vh - 64); 
  background-size:cover;
  background-position:bottom
}