.back{
    background-image: url("https://i.imgur.com/IefaXIc.jpg[/img]");
    background-repeat: no-repeat;
    width: 100vw;
     min-height: calc(100vh - 64); 

    background-size:cover;
    background-position: center;

     height: 435px 

}

.text{
  display:grid;
  padding: 30px;
  color: #054F77!important
}