.back{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/7/73/God2-Sistine_Chapel.png");
    background-repeat: no-repeat;
    width: 100vw;
     min-height: calc(100vh - 64); 

    background-size:cover;
    background-position: center;

     height: 435px 

}

.text{
  display:grid;
  padding: 30px

}