.back{
  background-image: url("https://i.imgur.com/IefaXIc.jpg[/img]");
    background-repeat: no-repeat;
    width: 100vh;
    min-height: calc(100vh - 64); 
    background-size:cover;
    background-position:center;

     /* height: 340px ; */
}

.titulo{
  color: #000000 !important;
  font-weight: bold !important;
}

.botao{
  /* style:  */
  border-color: #000000!important;
  background-color: #9e9a9a!important;
  color: #080808 !important ;
}

.postagens{
  /* background: linear-gradient( 36deg,#595959 8%, #ccccff)!important; */
  padding: 0px;
  margin: 0px;
  border: 0px;
}

/* estilizar o texto para ficar no local correto */
.text{
  display:grid;
  padding: 50px; 
}